.gradient-custom {
    /* fallback for old browsers */
    background: lightskyblue;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(244, 241, 247), lightskyblue);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(244, 241, 247), lightskyblue)
    }