<div>
  <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
    Editar Persona
  </button>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
      <img
      src={{persona.img}} class="img-fluid" id="fotodeperfil"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
      <p id="nombre"><b>{{persona.nombre}} {{persona.apellido}} </b></p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-9 col-xl-8 col-xxl-8 descripcion">
        <h1>Acerca de mí</h1>
        <p>{{persona.descripcion}}</p>
    </div>
</div>